.cards-container{
    display: flex;
    justify-content: center;
    
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 100px;
}

.card{
    display: flex;
    max-width: 10vw;
    justify-content: center;
    align-items: flex-start;
    
}